.item {
    position: relative;
    display: flex;
    padding: 16px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    align-items: center;
}
.item_icon {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: fill;
    flex-shrink: 0;
}
.item a {
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    transition:all 0.3s ease;
}
.item a:hover {
    color:tomato;
    padding-left: 16px;
    
}
a.active {
    position: relative;
    font-weight: bold;
    padding-left: 16px;
    transition: all 0.3s ease;
    color:tomato;
}
/* .item:after a.active {
    content:'';
    position: absolute;
    right: -5px;
    top:0;
    height: 48px;
    width: 5px;
    background-color:tomato;
} */